*.pkl
*.jpg
*.mp4
*.pth
*.pyc
__pycache__
*.h5
*.avi
*.wav
filelists/*.txt
lrs2_preprocessed/*
data_root/main/*
data_root/pretrain/*
evaluation/test_filelists/lr*.txt
*.pyc
*.mkv
*.gif
*.webm
*.mp3
/data/
/pro_data/
.idea
/face_detection/
/tecoGAN/
